.claude/
node_modules/
dist/
.DS_Store
*.log
.env
.env.local
.vite/
.cache/
.aq_cache/
__pycache__/
*.mjs
.venv/
prototipo/data/*
notebook/*.png
python-analysis/*.txt
python-analysis/*.json
datasets/*.png
dbts/prototipo/data/*
dbts/*.json
dbts/*.csv
dbts/*.ipynb
cts/prototipo/data/*
cts/*.parquet
cts/*.csv
